<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jones.android.nursingpathways">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PathwayTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="false"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstOpenScreen"
            android:label="@string/title_activity_first_open_screen"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PathWayDisplay"
            android:label="@string/title_activity_path_way_display"
            android:theme="@style/PathwayTheme" />
        <activity
            android:name=".SetUp"
            android:label="@string/title_activity_set_up"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateClassesInProgress"
            android:label="UpdateClasses"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateClasses"
            android:label="UpdateClasses"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CheckBlackBoardFromNotification" />

        <receiver android:name=".BlackboardAlarmReceiver">
            <intent-filter>
                <action android:name="com.jones.android.nursingpathways.BlackboardAlarmReceiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".RegistrationAlarmReceiver">
            <intent-filter>
                <action android:name="com.jones.android.nursingpathways.RegistrationAlarmReceiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".UpdateClassesInProgressAlarmReceiver">
            <intent-filter>
                <action android:name="com.jones.android.nursingpathways.UpdateClassesInProgressAlarmReceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".RegisterForClasses" android:theme="@style/PathwayTheme" />
        <activity android:name=".RegistrationDenied" android:noHistory="true" android:theme="@style/PathwayTheme"/>
        <activity
            android:name=".Settings"
            android:noHistory="true"
            android:theme="@style/PathwayTheme"/>
        <activity android:name=".PickPathway" android:theme="@style/PathwayTheme" />
        <activity android:name=".Help" android:theme="@style/PathwayTheme" />
        <activity android:name=".DelayRegistration" android:noHistory="true" android:theme="@style/PathwayTheme"></activity>
    </application>

</manifest>